{
  "securityDefinitions": {
    "API key in header": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "API key in header": []
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "schemes": ["https"],
  "swagger": "2.0",
  "info": {
    "description": "Access information from the CyberRisk platform programmatically using this API.\n\nYou can find or generate an API key to access this API in your CyberRisk Account Settings.\nPlease authorize all requests by setting the \"Authorization\" header to your api key.\n\nThe base url for all public endpoints is https://cyber-risk.upguard.com/api/public",
    "title": "UpGuard CyberRisk API",
    "version": "1.13.2"
  },
  "host": "cyber-risk.upguard.com",
  "basePath": "/api/public",
  "paths": {
    "/available_risks": {
      "get": {
        "description": "Returns a list of available risks in the UpGuard platform with detailed info. Please note this version of the endpoint has been deprecated, and v2 should be used instead.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get a list of available risks in the platform",
        "operationId": "available_risks",
        "deprecated": true,
        "responses": {
          "200": {
            "description": "Available risks",
            "schema": {
              "$ref": "#/definitions/AvailableRisk"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/available_risks/risk": {
      "get": {
        "description": "Returns the details for a risk.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get details for a risk in the platform",
        "operationId": "risk",
        "parameters": [
          {
            "type": "string",
            "description": "ID of the risk to fetch details for",
            "name": "risk_id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Risk details",
            "schema": {
              "$ref": "#/definitions/AvailableRiskV2"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/available_risks/v2": {
      "get": {
        "description": "Returns a list of available risks in the UpGuard platform with detailed info.\n\nSome risks in the platform are generic risks like \"exposed_service:*\". The values of some of the fields for these risks\ndepends on the details of the risk, e.g. which particular service is exposed. As such these fields are omitted from the response.\n\nTo get the full details for a specific risk, e.g. \"exposed_service:FTP\", use the risk details endpoint which will return\nthe full information for the particular service.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get a list of available risks in the platform",
        "operationId": "available_risks_v2",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by risk category",
            "name": "category",
            "in": "query"
          },
          {
            "enum": ["info", "low", "medium", "high", "critical"],
            "type": "string",
            "description": "Filter by risk severity",
            "name": "severity",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Available risks",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AvailableRiskV2"
              }
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/breach": {
      "get": {
        "description": "Returns the details of an identity breach.\n\nRequired API key permissions: `IdentityBreaches` (select when creating API key in Account Settings)",
        "tags": ["breaches"],
        "summary": "Get the details for an identity breach",
        "operationId": "identity_breach",
        "parameters": [
          {
            "type": "string",
            "description": "The ID of the breach to fetch",
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of an identity breach",
            "schema": {
              "$ref": "#/definitions/IdentityBreachResponsePayloadBody"
            }
          },
          "404": {
            "description": "The vendor was not found.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/breaches": {
      "get": {
        "description": "Returns a list of identities ordered by last breached date.\n\nRequired API key permissions: `IdentityBreaches` (select when creating API key in Account Settings)",
        "tags": ["breaches"],
        "summary": "Get a list of breached identities",
        "operationId": "breached_identities",
        "parameters": [
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": ["name", "domain", "num_breaches", "date_last_breach"],
            "type": "string",
            "default": "date_last_breach",
            "description": "The value to sort the breached identities by\n\nIf not specified will default to `date_last_breach` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The breach ID to filter on",
            "name": "breach_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of breached identities",
            "schema": {
              "$ref": "#/definitions/BreachedIdentitiesResponsePayloadBody"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/bulk/hostnames": {
      "get": {
        "description": "Get the list of registered hostnames and their risks. You can use the omit_risks,\nomit_vendor, omit_score and omit_labels query parameter to turn off these information\nfrom the response and quickly get a list of registered hostnames.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": ["bulk"],
        "summary": "List hostnames and their risks",
        "operationId": "bulk_list_hostnames",
        "parameters": [
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 200,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether to sort the results in descending order.",
            "name": "sort_desc",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the scan information, i.e. risks, score and last scanned at.",
            "name": "omit_scan_info",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the vendor information for a hostname in the response.",
            "name": "omit_vendor",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the labels for a hostname in the response.",
            "name": "omit_labels",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Exclude active hostnames from the results.",
            "name": "exclude_active",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Exclude inactive hostnames from the results.",
            "name": "exclude_inactive",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": "false",
            "description": "Filter results to only hostnames that have all the provided labels.",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of hostnames and their risks.",
            "schema": {
              "$ref": "#/definitions/BulkListHostnamesV1ResponseBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      },
      "post": {
        "description": "Register a list of hostnames to be scanned for risks. The provided hostnames must be fully qualified domain names\nor IPv4 addresses. Currently, a maximum of 1000 hostnames in a single request is supported. This will always replace\nthe labels of currently registered hostnames and if the request has empty labels they will all be removed.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": ["bulk"],
        "summary": "Register a list of hostnames to be scanned for risks",
        "operationId": "bulk_register_hostnames",
        "parameters": [
          {
            "name": "BulkRegisterHostnamesV1RequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BulkRegisterHostnamesV1RequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the number of newly registered hostnames as well as the number of remaining slots.",
            "schema": {
              "$ref": "#/definitions/BulkRegisterHostnamesV1ResponseBody"
            }
          },
          "402": {
            "description": "The requested action would exceed the limits of your contract.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      },
      "delete": {
        "description": "Deregister a list of hostnames. The provided hostnames must be fully qualified domain names\nor IPv4 addresses. Currently, a maximum of 1000 hostnames in a single request is supported.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": ["bulk"],
        "summary": "Deregister a list of hostnames",
        "operationId": "bulk_deregister_hostnames",
        "parameters": [
          {
            "name": "BulkDeregisterHostnamesV1RequestBody",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/BulkDeregisterHostnamesV1RequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the number of deregistered hostnames as well as the number of remaining slots.",
            "schema": {
              "$ref": "#/definitions/BulkDeregisterHostnamesV1ResponseBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/bulk/hostnames/stats": {
      "get": {
        "description": "Get statistics for the registered hostnames. This will return the number of registered hostnames, the number of\nremaining slots and the number of active and inactive hostnames\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": ["bulk"],
        "summary": "Get statistics around registered bulk hostnames",
        "operationId": "bulk_get_hostnames_stats",
        "responses": {
          "200": {
            "description": "Returns the statistics for the registered hostnames.",
            "schema": {
              "$ref": "#/definitions/BulkGetHostnamesStatsV1ResponseBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/bulk/hostnames/{hostname}": {
      "get": {
        "description": "Get the details for a hostname. The provided hostname must be a fully\nqualified domain name or an IPv4 address.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": ["bulk"],
        "summary": "Get the details for a hostname",
        "operationId": "bulk_get_hostname_details",
        "parameters": [
          {
            "type": "string",
            "format": "hostname",
            "description": "The hostname to fetch details for. It must be a fully qualified domain name or an IPv4 address.",
            "name": "hostname",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the scan information, i.e. risks, score and last scanned at.",
            "name": "omit_scan_info",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the vendor information for a hostname in the response.",
            "name": "omit_vendor",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Omit the labels for a hostname in the response.",
            "name": "omit_labels",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the details of the hostname.",
            "schema": {
              "$ref": "#/definitions/BulkHostname"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/bulk/hostnames/{hostname}/labels": {
      "put": {
        "description": "Assign labels to a hostname replacing the existing ones if any. To remove all labels use an empty array in the request.\n\nThis is an add-on endpoint not available to all accounts. Please contact support for information about bulk endpoints and how to upgrade your account.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": ["bulk"],
        "summary": "Assign new labels to a hostname",
        "operationId": "bulk_hostname_put_labels",
        "parameters": [
          {
            "type": "string",
            "format": "hostname",
            "description": "The hostname to fetch details for. It must be a fully qualified domain name or an IPv4 address.",
            "name": "hostname",
            "in": "path",
            "required": true
          },
          {
            "example": "[\"network\", \"data\"]",
            "description": "Labels list",
            "name": "labels",
            "in": "body",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/dataleaks/disclosures": {
      "get": {
        "description": "Returns a list of the disclosures in your account matching the given filters.\n\nRequired API key permissions: `DataLeaks` (select when creating API key in Account Settings)",
        "tags": ["dataleaks"],
        "summary": "Get a list of disclosures",
        "operationId": "dataleaks_disclosures",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "description": "The minimum (non-inclusive) timestamp of a disclosure (RFC 3339 format).",
            "name": "min_time",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The maximum (non-inclusive) timestamp of a disclosure (RFC 3339 format).",
            "name": "max_time",
            "in": "query"
          },
          {
            "enum": [
              "Disclosed",
              "Acknowledged",
              "Investigating",
              "Remediating",
              "ClosedNoIssue",
              "ClosedRiskAccepted",
              "ClosedFixedUnverified",
              "ClosedFixedVerified"
            ],
            "type": "string",
            "description": "A comma-delimited list of statuses that disclosures should match.",
            "name": "statuses",
            "in": "query"
          },
          {
            "type": "string",
            "description": "A comma-delimited list of IDs that disclosures should match.",
            "name": "ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Data Leaks disclosed",
            "schema": {
              "$ref": "#/definitions/DataLeaksDisclosuresResponsePayloadBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/dataleaks/disclosures/status": {
      "put": {
        "description": "Required API key permissions: `DataLeaks` (select when creating API key in Account Settings)",
        "tags": ["dataleaks"],
        "summary": "Update the status of a disclosure",
        "operationId": "dataleaks_disclosures_update_status",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the disclosure",
            "name": "disclosure_id",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "Acknowledged",
              "Investigating",
              "Remediating",
              "ClosedNoIssue",
              "ClosedRiskAccepted",
              "ClosedFixedUnverified"
            ],
            "type": "string",
            "description": "The new status for the disclosure",
            "name": "new_status",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "The email address of the user changing the status (must have a Cyber Risk account with the \"Data Leaks\" role).",
            "name": "user_email",
            "in": "query"
          },
          {
            "type": "string",
            "description": "A comment to accompany the status change, if required",
            "name": "comment",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/domain": {
      "get": {
        "description": "Returns the details for a domain. It will return 422 when requesting details of an inactive domain.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["domains"],
        "summary": "Retrieve details for a domain",
        "operationId": "domain_details",
        "parameters": [
          {
            "type": "string",
            "description": "The hostname for which to return the details, e.g. \"upguard.com\"",
            "name": "hostname",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "schema": {
              "$ref": "#/definitions/GetDomainDetailsV1RespBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/domain/labels": {
      "put": {
        "description": "Assign labels to a domain. To remove all labels pass an empty list.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["domains"],
        "summary": "Assign labels to a domain",
        "operationId": "domain_update_labels",
        "parameters": [
          {
            "type": "string",
            "description": "The hostname to update labels for",
            "name": "hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the domain. You can pass an empty array to remove all labels.",
            "name": "labels",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "description": "Returns a list of domains for your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["domains"],
        "summary": "Get a list of domains",
        "operationId": "domains",
        "parameters": [
          {
            "type": "boolean",
            "default": true,
            "description": "Retrieve active domains",
            "name": "active",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": true,
            "description": "Retrieve inactive domains",
            "name": "inactive",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": ["domain", "active", "automated_score", "scanned_at"],
            "type": "string",
            "default": "domain",
            "description": "The value to sort the domains by\n\nIf not specified will default to `domain` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of domains",
            "schema": {
              "$ref": "#/definitions/GetDomainsV1RespBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      },
      "put": {
        "description": "Add a list of custom domains to your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["domains"],
        "summary": "Add custom domains",
        "operationId": "add_custom_domains",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A comma separated list of hostnames to add",
            "name": "hostnames",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to add to the hostnames",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      },
      "delete": {
        "description": "Remove custom domains from your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["domains"],
        "summary": "Remove custom domains",
        "operationId": "remove_custom_domains",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A comma separated list of hostnames to remove. Only hostnames or labels can be specified not both",
            "name": "hostnames",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of labels whose hostnames will be removed. All custom domains with at least one of the provided labels will be removed. Only hostnames or labels can be specified not both",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/fourth_party/list": {
      "get": {
        "description": "Returns a paginated list of fourth party (supply chain / concentration risk) vendors and their products\nfor the watched vendors in your organisation.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["vendors"],
        "summary": "List fourth party vendors",
        "operationId": "fourth_parties_params",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The number of results to return per page.\nValid values range from 10 to 2000.\nDefaults to 500 if unset.",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The token of the page to be returned.\nWill return the first page if left blank.",
            "name": "page_token",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by label names. Only vendors with all of the provided labels will be returned. If a label does not exist, 422 will be returned.",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "description": "Filter by vendor tier. Only vendors in the specified tiers will be returned.",
            "name": "tier",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Filter by watched vendor score. Only fourth party vendors used by watched vendors with a\nscore greater than or equal to this value will be returned.\nValid range: 0-950.",
            "name": "min_score",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "Filter by watched vendor score. Only fourth party vendors used by watched vendors with a\nscore less than or equal to this value will be returned.\nValid range: 0-950.",
            "name": "max_score",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by portfolio names. Only vendors in these portfolios will be returned. If a portfolio does not exist, 422 will be returned.",
            "name": "portfolios",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetFourthPartiesV1RespBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/ip": {
      "get": {
        "description": "Returns the details of the IP address. It will return 422 when requesting details of an inactive IP address.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["ips"],
        "summary": "Retrieve details for an IP address",
        "operationId": "ip_details",
        "parameters": [
          {
            "type": "string",
            "description": "The IP address to get details for",
            "name": "ip",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "IP details",
            "schema": {
              "$ref": "#/definitions/GetIpDetailsV1RespBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/ip/labels": {
      "put": {
        "description": "Assign labels to an IP. To remove all labels pass an empty list.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["ips"],
        "summary": "Assign labels to an IP",
        "operationId": "ip_update_labels",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "description": "The IP to update labels for",
            "name": "ip",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the IP. You can pass an empty array to remove all labels.",
            "name": "labels",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/ips": {
      "get": {
        "description": "Returns a list of ips for your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["ips"],
        "summary": "Get a list of ips",
        "operationId": "ips",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": ["ip", "owner", "country", "asn", "as_name", "automated_score"],
            "type": "string",
            "default": "ip",
            "description": "The value to sort the IPs by\n\nIf not specified will default to `ip` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ips",
            "schema": {
              "$ref": "#/definitions/GetIPsV1RespBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      },
      "put": {
        "description": "Add a list of custom ips to your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["ips"],
        "summary": "Add custom ips",
        "operationId": "add_custom_ips",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The list of ips to add",
            "name": "ips",
            "in": "query",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The labels to assign to the ips when added.",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      },
      "delete": {
        "description": "Remove custom ips from your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["ips"],
        "summary": "Remove custom ips",
        "operationId": "remove_custom_ips",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A comma separated list of ips to remove. Only ips or labels can be specified not both",
            "name": "ips",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of labels whose domains will be removed. All custom IPs with at least one of the provided labels will be removed. Only ips or labels can be specified not both",
            "name": "labels",
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": " Successful response is empty"
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/labels": {
      "get": {
        "description": "Returns the list of labels for your account.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["labels"],
        "summary": "Get the list of registered labels",
        "operationId": "labels",
        "responses": {
          "200": {
            "description": "A list of labels",
            "schema": {
              "$ref": "#/definitions/GetLabelsV1RespBody"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "description": "Returns a list of notifications ordered by their ID. By default, only notifications from the\nlast 7 days are returned.\n\nRequired API key permissions: `Admin` (select when creating API key in Account Settings)",
        "tags": ["notifications"],
        "summary": "Get a list of notifications for your organization.",
        "operationId": "get_notifications",
        "responses": {
          "200": {
            "description": "List of notifications",
            "schema": {
              "$ref": "#/definitions/GetNotificationsV1ResponsePayloadBody"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/onboarding_request": {
      "get": {
        "description": "Returns detailed information about a specific vendor onboarding request, including vendor data and assessment links.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["vendors"],
        "summary": "Get onboarding request details",
        "operationId": "onboardingRequestGet",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "example": 12345,
            "description": "The ID of the onboarding request (survey ID)",
            "name": "id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Onboarding request details response",
            "schema": {
              "$ref": "#/definitions/OnboardingRequestDetail"
            }
          },
          "403": {
            "description": "Account does not have access to requested entities",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "404": {
            "description": "The vendor was not found.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/onboarding_request/list": {
      "get": {
        "description": "Returns a paginated list of vendor onboarding requests for the organization.\n\nNote: The id of the onboarding request is also the survey_id of the corresponding onboarding request questionnaire.\nYou can download the question and answers of the onboarding request questionnaire using Get questionnaire questions and answers\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["vendors"],
        "summary": "List onboarding requests",
        "operationId": "onboardingRequestsList",
        "parameters": [
          {
            "type": "integer",
            "format": "int64",
            "example": 100,
            "description": "Number of results per page (1-2000)",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Token for the next page of results",
            "name": "page_token",
            "in": "query"
          },
          {
            "enum": ["vendor_name", "status", "created_at", "completed_at", "progress", "submitted_by"],
            "type": "string",
            "example": "created_at",
            "description": "Field to sort by\n\nSort order for status is: Complete, Sent, In Progress, In Review, Assessment Underway, Awaiting Review\n\nSort by submitted_by sorts by the name of the submitter",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": true,
            "description": "Sort in descending order, sorts in ascending order if unset",
            "name": "sort_desc",
            "in": "query"
          },
          {
            "type": "string",
            "example": "Assessment Underway,Complete",
            "description": "Comma-separated list of statuses to filter by\n\nValid values: Complete,Sent,In Progress,In Review,Assessment Underway,Awaiting Review",
            "name": "status",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": false,
            "description": "Filter by archived status",
            "name": "archived",
            "in": "query"
          },
          {
            "type": "string",
            "example": "acme",
            "description": "Text to search for in vendor name or submitter name",
            "name": "filter_text",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of onboarding requests",
            "schema": {
              "$ref": "#/definitions/OnboardingRequestsListRespBody"
            }
          },
          "403": {
            "description": "Account does not have access to requested entities",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/organisation": {
      "get": {
        "description": "Returns the information of the organisation associated with the API key used for the request.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["organisation"],
        "summary": "Get the current organisation",
        "operationId": "getOrganisationV1",
        "responses": {
          "200": {
            "description": "Information about the current organisation",
            "schema": {
              "$ref": "#/definitions/GetOrganisationV1RespBody"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/ranges": {
      "get": {
        "description": "Returns a list of ip ranges for your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["ips"],
        "summary": "Get a list of ip ranges",
        "operationId": "ranges",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter result by the provided labels",
            "name": "labels",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The `page_token` from a previous request, use this to get the next page of results.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 2000,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 1000,
            "description": "The number of results to return per page.",
            "name": "page_size",
            "in": "query"
          },
          {
            "enum": ["start", "end", "num_ips", "owner", "country", "asn", "as_name"],
            "type": "string",
            "default": "num_ips",
            "description": "The value to sort the IP ranges by\n\nIf not specified will default to `num_ips` and set `sort_desc` to `true`",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Whether or not to sort the results in descending order",
            "name": "sort_desc",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of ranges",
            "schema": {
              "$ref": "#/definitions/GetRangesV1RespBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/reports/custom": {
      "get": {
        "description": "Use this endpoint to retrieve the list of custom report templates defined for your account.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["reports"],
        "summary": "Get the list of custom report templates defined for the account",
        "operationId": "custom_reports_list",
        "responses": {
          "200": {
            "description": "List of custom report definitions",
            "schema": {
              "$ref": "#/definitions/CustomReportsListResponsePayloadBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/reports/queue": {
      "post": {
        "description": "Asynchronously queues a report for exporting. To use this API, first call this endpoint with the type of report you wish to\ngenerate and any other filtering parameters. You can optionally specify a list of email addresses or a URL\nthat will receive a POST request when the export completes.\n\nWhen a report is queued, you will receive a unique queued_report_id. Use this ID to check the status of the export using the\n`/reports/status` endpoint.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["reports"],
        "summary": "Queue a report export",
        "operationId": "queue_report",
        "parameters": [
          {
            "enum": [
              "BoardSummaryPDF",
              "BoardSummaryPPTX",
              "BreachSightSummaryPDF",
              "BreachSightDetailedPDF",
              "VendorRiskExecutiveSummaryPDF",
              "VendorSummaryPDF",
              "VendorDetailedPDF",
              "VendorRiskAssessmentPDF",
              "CustomPDF",
              "VendorRiskProfileXLSX",
              "VendorVulnsOverviewXLSX",
              "VendorDomainListPDF",
              "QuestionnaireDetailsPDF",
              "QuestionnaireDetailsXLSX"
            ],
            "type": "string",
            "description": "The type of report to export. Note that each report type may require different parameters to be specified in the request.\n\nWhen *VendorRiskAssessmentPDF* is selected the latest published risk assessment will be used, if no published risk assessment is available for the selected vendor a 422 error will be returned.",
            "name": "report_type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "description": "For an export of type 'CustomPDF', specify the UUID of the custom report to generate. This is a required field for the custom report type.",
            "name": "custom_report_uuid",
            "in": "query"
          },
          {
            "maxItems": 5,
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Optionally email the generated report to the specified addresses when it is ready.",
            "name": "email_addresses",
            "in": "query"
          },
          {
            "type": "string",
            "format": "uri",
            "description": "Optionally specify a URL that will receive a POST request when the report is ready.\nThe request will contain a JSON body containing a URL to download the report, in the following format:\n```json\n{\n\"queued_report_id\": \"string\",\n\"download_url\": \"url\"\n\"download_url_expires\": \"string\"\n}\n```",
            "name": "post_webhook_url",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by asset portfolio names. Case-sensitive. Optional. Applicable only when *report_type* is *BreachSightSummaryPDF* or *BreachSightDetailedPDF*.",
            "name": "asset_portfolio_names",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Filter by vendor portfolio names. Case-sensitive. Optional. Applicable only when *report_type* is *BoardSummaryPDF*, *BoardSummaryPPTX*, or *VendorRiskExecutiveSummaryPDF*.",
            "name": "vendor_portfolio_names",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "ID of the vendor to generate the report for. Either this, *vendor_primary_hostname* or *filter_by_vendor_hostnames* are required when *report_type* is *VendorSummaryPDF*, *VendorDetailedPDF*, *VendorRiskAssessmentPDF*, *CustomPDF*, *VendorRiskProfileXLSX*, *VendorVulnsOverviewXLSX*, *VendorDomainListPDF*, *QuestionnaireDetailsPDF* or *QuestionnaireDetailsXLSX*.",
            "name": "vendor_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Primary hostname of the vendor to generate the report for. Either this, *vendor_id* or *filter_by_vendor_hostnames* are required when *report_type* is *VendorSummaryPDF*, *VendorDetailedPDF*, *VendorRiskAssessmentPDF*, *CustomPDF*, *VendorRiskProfileXLSX*, *VendorVulnsOverviewXLSX*, *VendorDomainListPDF*, *QuestionnaireDetailsPDF* or *QuestionnaireDetailsXLSX*.",
            "name": "vendor_primary_hostname",
            "in": "query"
          },
          {
            "type": "string",
            "description": "List of hostnames from a single vendor to generate the report for. Either this, *vendor_id* or *vendor_primary_hostname* are required when *report_type* is *VendorSummaryPDF*, *VendorDetailedPDF*, *CustomPDF*, *VendorRiskProfileXLSX*, *VendorVulnsOverviewXLSX* or *VendorDomainListPDF*.",
            "name": "filter_by_vendor_hostnames",
            "in": "query"
          },
          {
            "type": "string",
            "description": "String to use as the first part of the report filename. For vendor reports this will precede the vendor name, and for others the account name.\nA maximum of the first 20 characters (runes) of the supplied string will be used",
            "name": "filename_prefix",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "When requesting a vendor report, determine if the report should wait for the appropriate data to become available. This is typical of\nreports where the vendor may have only just become known by the system, or the vendor only just been watched by the account. Typically, the report\ngeneration and delivery is delayed by up to 72 hours to allow for the data to become available. This parameter is only valid when *report_type* is\nVendorSummaryPDF*, *VendorDetailedPDF*, *CustomPDF*, *VendorRiskProfileXLSX*, *VendorVulnsOverviewXLSX*, or *VendorDomainListPDF*.",
            "name": "wait_for_data",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The ID of the questionnaire to generate the report for. Required when *report_type* is *QuestionnaireDetailsPDF* or *QuestionnaireDetailsXLSX*.",
            "name": "questionnaire_id",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Whether to include correspondence messages in the questionnaire details report. Optional. Applicable only when *report_type* is *QuestionnaireDetailsPDF* or *QuestionnaireDetailsXLSX*.",
            "name": "include_messages",
            "in": "query"
          },
          {
            "type": "boolean",
            "description": "Whether to include private/internal messages in the questionnaire details report. Only available to the questionnaire author organization. Optional. Applicable only when *report_type* is *QuestionnaireDetailsPDF* or *QuestionnaireDetailsXLSX*.",
            "name": "include_private_messages",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Report queued for export",
            "schema": {
              "$ref": "#/definitions/QueueReportResponsePayloadBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/reports/status": {
      "get": {
        "description": "Poll this endpoint for the status of a report export you have queued. When complete, you will receive a download URL.\n\nRequired API key permissions: `Platform` (select when creating API key in Account Settings)",
        "tags": ["reports"],
        "summary": "Get the status of an exported report",
        "operationId": "report_status",
        "parameters": [
          {
            "type": "string",
            "description": "The queued_report_id returned from the /reports/queue endpoint.",
            "name": "queued_report_id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Queued report status",
            "schema": {
              "$ref": "#/definitions/ReportStatusResponsePayloadBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/risks": {
      "get": {
        "description": "Returns a list of risks that have been detected for your account.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get a list of active risks for your account",
        "operationId": "risks",
        "parameters": [
          {
            "enum": ["info", "low", "medium", "high", "critical"],
            "type": "string",
            "default": "info",
            "description": "Minimum severity for the risks",
            "name": "min_severity",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include metadata for risks",
            "name": "include_meta",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports\nwhen available",
            "name": "include_sources",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of detected risks",
            "schema": {
              "$ref": "#/definitions/GetRisksV1RespBody"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/risks/diff": {
      "get": {
        "description": "Returns a list of the risks introduced and risks resolved for domains or IPs between two dates.\n\nRisks resolved are not computed for dates prior to 2018-11-01 00:00:00.\n\nPreviously provisional risks that are now scored will appear in the list of risks introduced.\n\nRequired API key permissions: `BreachRisk` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get a list of risk changes for your account",
        "operationId": "org_risks_diff",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format).",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.",
            "name": "end_date",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports",
            "name": "include_sources",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Risks introduced and resolved",
            "schema": {
              "$ref": "#/definitions/RisksDiffResponsePayloadBody"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/risks/vendors": {
      "get": {
        "description": "Returns a list of risks that have been detected for a particular vendor.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get a list of active risks for a vendor",
        "operationId": "vendor_risks",
        "parameters": [
          {
            "type": "string",
            "example": "upguard.com",
            "description": "The primary hostname of the vendor to return risks for",
            "name": "primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "enum": ["info", "low", "medium", "high", "critical"],
            "type": "string",
            "default": "info",
            "description": "Minimum severity for the risks",
            "name": "min_severity",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include metadata for risks,\n`include_meta` and 'exclude_hostnames' cannot both be true",
            "name": "include_meta",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Exclude hostnames for risks,\n`include_meta` and 'exclude_hostnames' cannot both be true",
            "name": "exclude_hostnames",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports\nwhen available",
            "name": "include_sources",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of detected risks",
            "schema": {
              "$ref": "#/definitions/GetRisksV1RespBody"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/risks/vendors/all": {
      "get": {
        "description": "Returns an overview of all risks affecting vendors that match the specified filter criteria or all vendors.\nThis endpoint provides a consolidated view of cybersecurity risks.\n\nThe response includes the total number of vendors matching your filter and a list of all risks found,\nwith details about how many vendors are affected by each risk.\n\nResults are paginated. Use the `page_size` parameter to control how many results are returned per page\n(default: 100, max: 2000). Use the `next_page_token` from the response to retrieve subsequent pages.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get portfolio risk profile overview",
        "operationId": "vendor_risk_overview_params",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["label1", "label2", "label3"],
            "description": "Filter on vendor labels using the label’s name. By default, any matching vendor will be\nreturned. Use vendor_label_ids_match_all to require all labels to be present. If the label\ndoes not exist, 422 will be returned.",
            "name": "vendor_labels",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": true,
            "description": "If true, will only return vendors that match ALL of the provided label IDs.\nIf false or omitted, vendors matching ANY of the provided labels will be returned.",
            "name": "vendor_label_ids_match_all",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": false,
            "description": "If true, will include vendors that have no labels applied when vendor_label_ids is provided.",
            "name": "include_unlabeled",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "example": 300,
            "description": "Filter vendors to those with a score greater than or equal to this value.\nValid range: 0-950.",
            "name": "min_score",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "example": 700,
            "description": "Filter vendors to those with a score less than or equal to this value.\nValid range: 0-950.",
            "name": "max_score",
            "in": "query"
          },
          {
            "type": "string",
            "example": "Acme",
            "description": "Filter vendors whose name starts with the given prefix (case-insensitive).",
            "name": "name_prefix",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [123, 456],
            "description": "Filter to only return vendors with the specified vendor IDs.",
            "name": "vendor_ids",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": false,
            "description": "If true, will only return vendors that DO NOT match ANY of the provided label IDs.\nThis is mutually exclusive with vendor_label_ids_match_all.",
            "name": "vendor_label_ids_do_not_match",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [1, 2],
            "description": "Filter watched vendors to those in the specified tiers.\nValid values: 1-5.",
            "name": "vendor_tiers",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["portfolio1", "portfolio2"],
            "description": "Filter by portfolio IDs. Only vendors in these portfolios will be returned.\nIf the portofilo does not exist, 422 will be returned.",
            "name": "portfolios",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": false,
            "description": "If true, will return only vendors with a published assessment.",
            "name": "assessed_vendors_only",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "example": [1, 2],
            "description": "Filter by questionnaire type IDs. Only vendors with these questionnaire types will be returned.\nAvailable questionnaire types can be found at /api/public/vendor/questionnaire_types.",
            "name": "questionnaire_type_ids",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-01T00:00:00Z",
            "description": "Start of date added range filter (RFC3339 format).\nFilters vendors added on or after this date.",
            "name": "vendor_date_added_start",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "example": "2024-12-31T23:59:59Z",
            "description": "End of date added range filter (RFC3339 format).\nFilters vendors added on or before this date.",
            "name": "vendor_date_added_end",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": false,
            "description": "If true, filter to vendors added before vendor_date_added_end.",
            "name": "vendor_date_added_before",
            "in": "query"
          },
          {
            "type": "boolean",
            "example": true,
            "description": "If true, filter to vendors added between start and end dates.",
            "name": "vendor_date_added_between",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "example": 100,
            "description": "The number of results to return per page.\nValid values range from 10 to 2000.\nDefaults to 100 if not specified.",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "example": "eyJ2IjoxMDAsImUiOjE3MDAwMDAwMDAsImgiOiJhYmMxMjMifQ==",
            "description": "Token to retrieve a specific page of results.\nOmit to retrieve the first page.\nUse the `next_page_token` from the previous response to get the next page.",
            "name": "page_token",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "VendorRiskOverviewV1Response is the response for the vendor risk overview endpoint.",
            "schema": {
              "$ref": "#/definitions/VendorRiskOverviewV1ResponsePayload"
            }
          },
          "403": {
            "description": "Account does not have access to requested entities",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/risks/vendors/diff": {
      "get": {
        "description": "Returns a list of the risks introduced and risks resolved for domains or IPs between two dates.\n\nThe maximum allowed interval is 30 days.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get a list of risk changes for a vendor",
        "operationId": "vendor_risks_diff",
        "parameters": [
          {
            "type": "string",
            "example": "upguard.com",
            "description": "The primary hostname for a vendor",
            "name": "vendor_primary_hostname",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format). Must be in the last 2 years.",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.",
            "name": "end_date",
            "in": "query"
          },
          {
            "type": "boolean",
            "default": false,
            "description": "Include sources for risks, e.g. the hostname and/or IP addresses the risk was detected on, including ports\nwhen available",
            "name": "include_sources",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Risks introduced and resolved",
            "schema": {
              "$ref": "#/definitions/RisksDiffResponsePayloadBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "404": {
            "description": "The vendor was not found.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/risks/vendors/diffs": {
      "get": {
        "description": "Returns a list of the risks introduced and risks resolved for domains or IPs between two dates across your monitored vendors.\n\nThe maximum allowed interval is 30 days.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get a list of risk changes for monitored vendors",
        "operationId": "vendors_risks_diff",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the starting point for determining risks introduced/resolved (RFC 3339 format).",
            "name": "start_date",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "description": "The date to use as the final state for determining risks introduced/resolved (RFC 3339 format). If not provided, the latest risks will be used.",
            "name": "end_date",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The token of the page to be returned.\nWill return the first page if left blank.",
            "name": "page_token",
            "in": "query"
          },
          {
            "maximum": 200,
            "minimum": 10,
            "type": "integer",
            "format": "int64",
            "default": 20,
            "description": "The number of results to return per page.\nValid values range from 10 to 200.\nDefaults to 20 if unset.",
            "name": "page_size",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Risks introduced and resolved",
            "schema": {
              "$ref": "#/definitions/VendorsRisksDiffResponsePayloadBody"
            }
          },
          "403": {
            "description": "Your API key does not have permission to perform this action.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "404": {
            "description": "The vendor was not found.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "422": {
            "description": "An invalid parameter was supplied or a mandatory parameter was missing",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "429": {
            "description": "Too many requests have been made to this endpoint.",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          },
          "500": {
            "description": "An internal system error occurred",
            "schema": {
              "$ref": "#/definitions/endpointError"
            }
          }
        }
      }
    },
    "/risks/vendors/hostnames": {
      "get": {
        "description": "Returns a list of hostnames for a specific vendor that are affected by a specific risk.\nThis endpoint provides detailed information about which hostnames have failed a particular\nrisk check including the detection date and last scan date.\n\nThe vendor can be identified either by `vendor_id` (for webless vendors) or `vendor_primary_hostname` (for vendors with or without a web presence).\nExactly one identifier must be provided.\n\nRequired API key permissions: `VendorRisk` (select when creating API key in Account Settings)",
        "tags": ["risks"],
        "summary": "Get vendor hostnames affected by a risk",
        "operationId": "get_vendor_hostnames_with_risk_params",
        "parameters": [
          {
            "type": "string",
            "description": "The risk_id to filter by",
            "name": "risk_id",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "description": "The vendor's internal ID.",
            "name": "vendor_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "The vendor's primary hostname",
            "name": "vendor_primary_hostname",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalVendorHostnamesWithRiskResponse"
            }
          },
          "403": {
            "description": "Account does not have access to requested entities",
            "schema": {
[...]
